.wrapper {
  border-bottom: 1px solid var(--grey-divider);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 20px;
}

.logoBlock {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.logoBlock img {
  width: 44px;
  height: 44px;
}

.iconMode {
  width: 52px;
}

.iconLink {
  position: relative;
  display: flex;
  align-items: center;
}

.badgeCount {
  position: absolute;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--green);
  font-weight: 600;
  font-size: 12px;
  line-height: 90%;
  color: var(--white);
}

.cartFlex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.icon {
  width: 32px;
}

.burger {
  width: 44px;
  cursor: pointer;
}

.nav_menu_active.burger {
  display: flex;
}

/* Night_mode */
.night_mode.wrapper {
  border-bottom: 1px solid var(--grey);
}

.night_mode.icon:hover {
  fill: var(--green);
  stroke: var(--green);
}

@media screen and (min-width: 768px) {
  .header_container {
    padding: 35px 0 30px;
  }

  .logoBlock img {
    width: 68px;
    height: 68px;
  }

  .icon {
    width: 44px;
  }

  .burger {
    display: none;
  }

  .badgeCount {
    width: 23px;
    height: 23px;
  }
}

@media screen and (min-width: 1000px) {
  .header_container {
    padding: 30px 0 28px;
  }

  .logoBlock {
    gap: 20px;
  }
}