.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  cursor: pointer;
  /* existing styles */
}

.cartBlock {
  display: flex;
  align-items: center;
}

.iconLink {
  position: relative;
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.badgeCount {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--green);
  font-weight: 600;
  font-size: 12px;
  line-height: 90%;
  color: var(--white);
}


.logoBlock {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.cartBlock {
  display: flex;
  gap: 24px;
  align-items: end;
  cursor: pointer;
}

.cartBlock:nth-last-child{
  gap: 26px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Night_mode */

.night_mode.wrapper{
  border-bottom: 1px solid var(--grey);
}
.night_mode.icon {
  stroke: white;
  fill: var(--black);
}
.night_mode.icon:hover{
  fill: var(--green);
  stroke: var(--green);
}
/* @media (max-width: 1440px) {
  .header {

  }
} */

@media (max-width: 1000px) {
  .header {
    font-size: 16px;
  }

  .cartBlock{
    gap: 11px;
  }

}
/* Media Query для экранов шириной 480px и меньше */
@media (max-width: 769px) {
  .header {
    font-size: 14px;
    height: 68px;
    font-size: 16px;
  }
  .logoBlock {
    flex-grow: 1;
    gap: 20px;
  }
    .cartBlock{
    gap: 11px;
  }

  .burger {
    display: flex;
    gap:20px;
  }

  .hideMenu {
    display: none;
  }

  .hideMenu.open {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
  }

  .hideMenu.open ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .hideMenu.open li {
    padding: 10px;
    border-bottom: 1px solid #fff;
  }

  .hideMenu.open li:last-child {
    border-bottom: none;
  }

  .hideMenu.open a {
    color: #fff;
    text-decoration: none;
  }
}
