.footer h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--black);
}

.infoContainer {
  display: grid;
  grid-template-columns: 780px 548px;
  gap: 32px;
  margin-bottom: 32px;
  background: var(--white);
}

.infoBlock {
  padding: 32px;
  border-radius: 12px;
  background-color: var(--light-grey);
}

.infoContainer div h6 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--grey);
}

.infoContainer div {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
}

.infoContainer div p {
  color: var(--black);
}

.infoContainer div a {
  text-decoration: none;
  color: var(--black);
}

.iconsBlock {
  display: flex;
  gap: 20px;
  margin-top: 16px;
}
