.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

.input {
  padding: 10px 32px 10px 32px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px; 
}

.input::placeholder {
  color: white;
}

.input:focus {
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}

.container_error {
  width: 100%;
 
}

.error {
  color: #ff4d4f;
  font-size: 14px;
  text-align: center;
}

.btn {
  width: 100%;
  height: 58px;
  padding: 16px 32px 16px 32px;
  border-radius: 10px;
  background-color: #fffff1;
  color: #424436;
  margin-bottom: 32px;
  border-color: transparent;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}

.error-message {
  display: none;
}

.input:invalid + .error-message {
  display: block;
}
