.wrapper {
   margin-bottom: 80px;
}

.title {
   margin: 40px 0;
   font-size: 64px;
   line-height: 110%;
   color: var(--black);
}
/* Night_mode */

.night_mode.title {
  color: var(--txt-white);
}
