.singleProductCard {
  display: flex;
  gap: 32px;
  margin-bottom: 85px;
}
.imgBlock img {
  width: 100%;
  border: 1px solid var(--grey-divider);
  border-radius: 12px;
}
.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.titleBlock {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.titleBlock h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--black);
}
.icon {
  width: 48px;
  fill: var(--txt-white);
}
.icon:hover {
  fill: var(--black);
}
.priceBlock {
  display: flex;
  gap: 16px;
}
.prices {
  display: flex;
  gap: 32px;
}
.price {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: var(--black);
}
.priceBlock span {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-decoration: line-through;
  color: var(--grey);
}
.discount {
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  background: var(--sale);
  color: var(--txt-white);
}
.cartBlock {
  display: flex;
  gap: 32px;
}
.countBlock {
  display: flex;
}
.countBlock button {
  border: 1px solid var(--grey-divider);
  border-radius: 6px;
  width: 58px;
  height: 58px;
  cursor: pointer;
}
.countBlock p {
  border-bottom: 1px solid var(--grey-divider);
  border-top: 1px solid var(--grey-divider);
  width: 96px;
  height: 58px;
}

.cartBtn {
  background: var(--green);
  border: transparent;
  border-radius: 6px;
  width: 316px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 20px;
  color: var(--txt-white);
}
.descriptionBlock h5 {
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
}
.descriptionBlock p {
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}
