.sortBlock {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.cardBlock {
   margin-top: 24px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

/* 480 px */
@media screen and (min-width: 480px) and (max-width: 767px) {
   .cardBlock {
      display: grid;
      grid-template-columns: repeat(2, 210px);
      gap: 20px;
   }

}

/* 768 px */
@media screen and (min-width: 768px) and (max-width: 999px) {
   .sortBlock {
      display: flex;
      flex-direction: row;
      gap: 32px;
   }

   .cardBlock {
      display: grid;
      grid-template-columns: repeat(2, 354px);
      gap: 20px;
      margin-top: 32px;
   }
}

@media screen and (min-width: 1000px) and (max-width: 1439px) {
   .sortBlock {
      display: flex;
      flex-direction: row;
      gap: 40px;
   }

   .cardBlock {
      display: grid;
      grid-template-columns: repeat(4, 225px);
      gap: 20px;
      margin-top: 32px;
   }
}

@media screen and (min-width: 1440px) {
   .sortBlock {
      display: flex;
      flex-direction: row;
      gap: 40px;
   }

   .cardBlock {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
      margin-top: 32px;
   }
}