.wrapper {
   margin-bottom: 80px;
}

.title {
   margin: 40px 0;
   font-size: 64px;
   line-height: 110%;
   color: var(--black);
}

.productsBlock {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 32px;
   margin-top: 40px;
}

.sortBlock {
   display: flex;
   align-items: center;
   gap: 40px;
}